*,html{box-sizing: border-box;}

body{
  margin:0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading{
  margin-top: 50px;
  text-align: center;
}

.new__wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.article{
  flex-grow: 1;
  padding:30px;
  min-height: 350px;
  width: 60%;
  margin-bottom: 20px;
  cursor: pointer;
  border: 2px solid #000;

  &:nth-child(even){
    width:40%;
    flex-grow: 2;
  }
}

@media (max-width:800px){
  .new__wrapper{
    flex-direction: column;
  }

  .article{
    width: 100% !important;
    min-height: auto;
    height: auto !important;
  }
}